*{
    /* quitamos todos los margenes en todos los elementos */
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
}
header{
    background-color: aqua;
    display: flex;
    justify-content:space-between;
}

.logo{
    height: 100px;
    width: 100px;
}

p{
    margin: 5px;
    /* border: dotted 3px blue; */
    padding: 10px;
}

img{
    margin: 5px;
    /* border: dotted 3px blue; */
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

li{
    border: solid 1px yellow;
}