*{
    /* quitamos todos los margenes en todos los elementos */
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
}
header{
    background-color: aqua;
    /* display: flex; */
    /* justify-content:space-between; */
    background: linear-gradient(rgb(159,194,2542), white);
    height: 100vh;
    width: 100%;
}

nav{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 80px;
    width: 80px;
}

ul{
    display: flex;
}


.content_menu{
    display: block;
}

.p_content_name{
    margin-left: 1px;
    /* border: dotted 3px blue; */
    padding-left: 10px;
    font-weight: bold;
    color: blue;
    font-size: 15px;
    text-shadow: 7px 7px 2.5px black;
    letter-spacing: 2px;    
}

.content_bio{
    margin-left: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 80vh;
}

.content_bio h1{
    font-size: 4em;
}

.content_bio span{
    color: blue;
    font-style: italic;
    text-shadow: 3px 2px black;
    text-align: right;
}

.content_bio_description{
    width: 50%;
}
.contenedor_img{
    display: flex;
    width: 50%;
}

.img_contect_bio{
    height: 50%;
    
}

.img_contect_bio:hover{
    /* filter: blur(5px); */
    filter: grayscale(80%);
}

.content_bio_description{
   width: 40%;
}


img{
    margin: 5px;
    /* border: dotted 3px blue; */
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

header nav li{
    border: solid 1px yellow;
    padding: 10px;
    background-color: blue;
    width: 200px;
    margin: 30px;
    text-align: center;
    border-radius: 35px;
    box-shadow: 3px 3px 3px black;
    list-style-type: none;
}


header nav li:hover{
    opacity: 0.5;
    /* font-size: 1em; */
    /* background-color: aqua;
    color: black;*/
} 

.section_acerca{
    width: 100%;
    height: 80vh;
    background: url(../img/897.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}

h2{
    font-size: 2em;
    text-align: center;
}

.acerca_1{
    height: 70vh;
    border: solid 1px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.acerca_2{
    border: solid 1px;
    display: flex;
    align-items: center;
    width: 60%;
    height: 50vh;
    text-align: justify;
    justify-items: auto;
    background: linear-gradient(to right, rgba(0, 0, 255, 0.10), rgba(0, 255, 255, 0.10)) ;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
}

/*footer {

     background-color: blue;
    width: 400px;
    height: 30vh;   
    overflow: auto; 
} */