*{
    /* quitamos todos los margenes en todos los elementos */
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
}
header{
    background-color: aqua;
    display: flex;
    justify-content:space-between;
    background: linear-gradient(white ,rgb(159,194,2542));
}

.logo{
    height: 100px;
    width: 100px;
}

p{
    margin: 5px;
    /* border: dotted 3px blue; */
    padding: 10px;
    font-weight: bold;
    color: blue;
    font-size: 30px;
    text-shadow: 10px 10px 2.5px black;
    letter-spacing: 3px;
}

img{
    margin: 5px;
    /* border: dotted 3px blue; */
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

li{
    border: solid 1px yellow;
    padding: 10px;
    background-color: blue;
    width: 200px;
    margin: 30px;
    text-align: center;
    border-radius: 35px;
    box-shadow: 3px 3px 3px black;
}